// GLOBAL VARIABLES
/**   COLORS*/
// default brand color for app
$brand-color:#00424F;

// default background color
$bg-color:#f7f7f8;

// default button text color
$btn-text-color:#ffff;

// hover color(this will be changed)
$hov-color:rgb(38, 44, 1);

// default container margin
$con-margin:50px;

//button radius
$brand-btn-radius:30px;

//default font size
$brand-text-size:14px;

$brand-font:"Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;

